<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winchampion.credit.pure.oracle.mapper.DueDateMapper">

	<select id="count" resultType="java.lang.Integer">
        SELECT
        COUNT(*) FROM zunmin.T_RFQ_DUE_DATE
    </select>
</mapper>