<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<bean id="userZ" class="com.winchampion.credit.pure.aware.User">
		<property name="name" value="zhangsan"></property>
		<property name="age" value="11"></property>
	</bean>
	
	<bean id="userL" class="com.winchampion.credit.pure.aware.User2">
		<property name="name" value="lisi"></property>
		<property name="age" value="13"></property>
	</bean>
	
	
	<bean class="com.winchampion.credit.pure.aware.InitializingBeanDemo" />
	
	<bean class="com.winchampion.credit.pure.processor.MyBeanPostProcessor" />

</beans>